
body{

	background-color: #d0e5d8;
	position: relative;
}

header{
	background-color: #293819;
	height: 60%;
	width: 100%;
	overflow: hidden;
	margin: auto;
	margin-right: 900px; 
	border-bottom: 3px solid #0c0c0b;
}
#logout{
	float: right;
	border-radius: 5px;
	padding: 8px;
	border: none;
	background: #f44842;
	margin-right: 10px;
}
#logout:hover{
	background: #a01e18;

}
h1{
	text-align: center;
	color: #ffffff;
}

b{
	font-size: 25px;
	color: #a3702f;
}
.drawer{
	height: 500px;
	width: 50%;
	background:  #293819;
}
.drawer ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;

}
.drawer ul li{
	padding: 10px;
	color: #ffffff;
	list-style-type: none;

}
form{
		display:inline-block;
		margin: 20px 0px 0px 20px;
		width: 100%;
		background-color: #ffffff;
		border-radius: 3px;
}
label{
	font-size: 15px;
	overflow: hidden;
	margin-left: 20px;
}
p{
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
input{
	margin: 20px;
	width: 90%;
	padding: 4px;
	border-radius: 3px; 
}
button{
	margin: 20px 40px;
	border-radius: 3px;
	padding: 7px;
	width: 80px;
	background: #187c38;
	border:none;
}
button:hover{
	background: #054f1c;
}
.signup{
	margin: 30px 200px;
	background: #ffffff;
	height: 90%;
}
.label_wrapper{
	margin-top: 10px;
}
#cancel{
	border-radius: 3px;
	background: #ef0e07;
	border: none; 
	margin:20px 20px;
	font-size: 15px;
	padding: 10px;
	width: 80px; 
}
#cancel:hover{
	background: #681d11;
}

[notifications]{
	position: relative;
}
[notifications]:after{

	content: attr(notifications);

	position: absolute;
	background: red;
	border-radius: 50%;
	display: inline-block;
	padding: 0.3em;
	color: #ffffff;
	right: -15px;
	top: -15px;
	font-size: 15px;
}
table, th, td{
	border-collapse: collapse;
	width:100%;
	border:2px solid #ffffff;
	margin-top: 20px;
	border-radius: 5px;
}
th,td{
	padding: 20px;
}
table tr:nth-child(even){
	background: #eee;
}
table tr:nth-child(even):hover{
background-color: #e1e8e3;
}
.table_wrapper{
	background: #f1f1c1;
}


@media screen and (max-width:700px) {
	body {
		background: #bccbe2;
		margin: 10px;
		position: relative;
	}
	form{
		display:inline-block;
		margin: auto;
		background-color: #ffffff;
		width: 100%;
		border-radius: 3px;

	}
	header{
	background-color: #293819;
	height: 60%;
	width: 100%;
	border-radius: 5px;
	border-bottom: 3px solid #0c0c0b;
	}
	
	h1{
		overflow: hidden;
		font-size: 20px;

	}
	.signup{
		margin: 20px 20px;
		border-radius: 5px;

	}
	button{
		margin-left: 120px;
		margin-bottom: 40px;
	}
	label{
		margin-left: 20px;
		margin-top: 60px;
	}
	input{
		width: 90%;
		margin-right: 20px;
	}
	#cancel{
		margin-left: 100px;
	}
	.drawer{
		width: 80%;
		height: 450px;
		border-radius: 5px;
	}
}

